@import '../../../common/styles/parameters';

.movie-display{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    background:linear-gradient(to bottom,  $dark_red, rgba(20,0,2,1));
    justify-content: center;
    align-items: center;
    padding: 10px 15px 0 15px;
}
@media only screen and (max-width: $mobile) {
    padding: 10px 5px 0 5px;
}