@import '../../../common/styles/colors';

.movie-display{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, $dark_red, #000000);
    justify-content: center;
    align-items: center;
    padding: 40px 15px 0 15px;
}