.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    height: 130px;
    width: 100%;
}
.footer-text{
    font-size:14px;
    padding-left: 50px
}