@import './components/common/styles/colors.scss';

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, $dark-red, #000000);
  color: white;
  font-family: 'Varela Round', sans-serif;
}