@import '../../../../../common/styles/colors';

.movie-container{
    display: flex;
    flex-direction: row;
    height: 330px;
    width: 509px;
    margin: 10px

}
.movie-picture{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: 50%;
    border: 0px solid black;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    overflow: hidden;
}
.movie-info-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    margin-top: 10px;
}
.movie-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.32941176470588235);
    font-size: 14px;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}
.movie-title-year{
    font-size: 18px;
    font-weight: bold;
}
.movie-info-text{
    padding: 0 10px 0 10px;
}
.movie-runtime-genre{
    padding-top:5px
}
.movie-desc{
    padding:15px 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.movie-director-title{
    font-weight: bold;
    letter-spacing: 1px;
}

@media only screen and (max-width: 479px) {
    .movie-container {
        margin: 7px 0;
        height: 225px;
        width: 330px;
        }
    .movie-info{
        font-size:11px;
    }
    .movie-title-year{
        font-size: 13px;
    }
    .movie-desc{
        padding:5px 10px 0 10px;
        }
    .movie-director{
        padding: 5px 10px;
    }
  }